:root {
    --black: #000;
    --branco: #FFFFFF;
    --dourado: #C8A951;
    --border: 1px solid #F5F5F5;
    --vinho: #800020;
    font-size: 16px;
}

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    background-color: #000;
}

section {
    padding: 48px 32px;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
}


.header section {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1px;
    padding-bottom: 1px;
}

.navbar a {
    margin: 0 10px;
    font-size: 20px;
    color: var(--branco);
    cursor: pointer;
}

.navbar a:hover {
    font-size: 22px;
    border-bottom: 1px solid var(--dourado);
    padding-bottom: 3px;
    color: var(--dourado);
}

.icons img {
    margin: 1.5px;
    cursor: pointer;
    display: inline-block;
}

.icons img:hover {
    width: 53px;
    height: 53px;
}

.btn {
    background: var(--dourado);
    color: var(--branco);
    border-radius: 20px;
    padding: 6px 14px;
    font-size: 22px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

.btn:hover {
    letter-spacing: 0.02rem;
}

.home-container {
    background: url(./img/4barb.jpg);
    background-position: center;
    background-size: cover;
}

.home-container section {
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
}

.home-container .content {
    background-color: #000;
    padding: 15px 20px;
    border-radius: 15px;
    max-width: 60rem;
}

.content {
    max-width: 60rem;
}

.content h3 {
    color: var(--branco);
    font-size: 30px;
    font-weight: bold;
}

.content p {
    color: var(--branco);
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    padding: 1rem 0;
    text-align: left;
}

.title {
    font-size: 40px;
    color: #C8A951;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.title span {
    font-size: 40px;
    color: var(--branco);
    text-transform: uppercase;
}

.about .row {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #1d1b1b;
    border-radius: 16px;
}

.about .row img {
    margin-top: 5px;
    margin-left: 5px;
    width: 500px;
    height: 500px;
    border-radius: 16px;
}

.about .row .content {
    padding: 16px;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #FFFFFF;
}

.about .row .content p {
    font-size: 1.2rem;
    color: #FFFFFF;
    padding: 1rem 0;
    font-weight: lighter;
    line-height: 1;
}

.menu .box-servico {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .box-servico .servico {
    text-align: center;
    border: var(--border);
    padding: 2rem 1rem;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}

.menu .box-servico .servico img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.menu .box-servico .servico h3 {
    color: #FFFFFF;
    font-size: 25px;
    white-space: nowrap;
    padding: 1rem 0;
}

.menu .box-servico .servico p {
    color: #FFFFFF;
    font-size: 1rem;
    padding: 1rem 0;
}

.menu .box-servico .servico .price {
    color: #FFFFFF;
    font-size: 20px;
    padding: 0.5rem 0;
}

.menu .box-servico .servico .price span {
    color: #FFFFFF;
    font-size: 1rem;
    text-decoration: line-through;
    font-weight: 100;
}

.menu .box-servico .servico .btn {
    font-size: 20px;
}

.menu .box-servico .servico:hover {
    background-color: #FFFFFF;
}

.menu .box-servico .servico:hover span {
    color: var(--black);
}

.menu .box-servico .servico:hover>* {
    color: var(--black);
}


.fotos-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotos-container img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    gap: 50px;
    border-radius: 15px;
}

.endereco-container {
    display: flex;
    align-items: center;
    background-color: #1d1b1b;
    border-radius: 16px;
    gap: 10px;
}

.endereco-container iframe{
    border-radius: 16px;
}


.forms .form-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    margin-left: 55px;
}

.form-menu .textos-cima-form {
    color: #FFFFFF;
    font-weight: bold;
}

.forms input {
    padding: 20px;
    width: 250px;
    height: 10px;
    border-radius: 15px;
    border: none;
    margin-top: 5px;
    margin-bottom: 9px;
}

.forms textarea {
    padding: 20px;
    width: 250px;
    height: 100px;
    border-radius: 20px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.forms button {
    background: var(--dourado);
    color: var(--branco);
    border-radius: 20px;
    padding: 6px 14px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

.forms button:hover {
    letter-spacing: 0.02rem;
}

.menu-icon {
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    display: none;
}

/* Menu padrão */
.navbar {
    display: flex;
    gap: 1.5rem;
}